<div class="text-center">
    <h1>Reactive dynamic form</h1>
</div>

<div class="p-5">
    <form [formGroup]="registration" (ngSubmit)="onsubmit(registration)">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
        <div formArrayName="alternativeEmails" *ngFor="let item of alternativeEmails.controls; let i=index">
            <label>Alternative email {{i+1}}</label>
            <input type="email" class="form-control" [formControlName]="i">
        </div>
        <div class="my-2">
            <button class="btn btn-primary" type="button" (click)="addAlternativeEmail()">Add</button>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>